@import '../../../styles/constants.scss';

.duck {
  display: block;
  width: 120px;
  margin: 1.5rem auto;
}
.code-box-shape {
	position: relative;
  width: 25%;
	top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  border-radius: 4px;
  .box-animate-1 {
    position: relative;
    width: 150px;
    height: 150px;
    margin: 0 auto;
  }
  .ui-animate-item {
    text-align: center;
    margin-top: 30px;
    h3 {
      color: #575556;
      font-size: 26px;
    }
    p {
      margin-top: 7px;
      color: #00c1de;
      font-size: 14px;
    }
  }
}
.ui-fn-diot-left {
  position: absolute;
  top: 25px;
  left: 25px;
  width: 8px;
  height: 8px;
  background-color: #333;
  border-radius: 50%;
}
.ui-fn-line-left {
  width: 150px;
  height: 1px;
  background-color: #333;
}
.ui-fn-diot-right {
  position: relative;
  top: 0;
  right: 0;
  bottom: 0;
  width: 5px;
  height: 5px;
  background-color: #333;
  border-radius: 50%;
}
.queue-anim-demo {
    float: left;
    margin: 0 5px 0 0 !important;
}