@import '../../styles/constants';

$CopyRightBgColor: #24272C;
.ui-pc-footer {
	position: relative;
	background-color: $CopyRightBgColor;
	.ui-pc-footer-online {
		display: block;
		border: 1px solid #fff;
		border-radius: 4px;
		background: transparent;
		color: #fff;
		padding: 3px 10px 3px 40px;
		font-size: 18px;
		&:hover {
			text-decoration: none;
			background: rgba(0,0,0,.8);
			@include transition(background);
		}
	}
	.ui-pc-footer-logo{
		display: block;
		width: 100px;
	}
	.padding-left-50 {
		padding-left: 50px;
	}
	.ui-pc-copyright {
		text-align: center;
		border-top: 1px solid #626061;
		p {
			font-size: 12px;
			color: #fff;
			line-height: 40px;
			span {
				margin-right: 5px;
				&:last-child {
					margin-left: 0;
				}
			}
		}
	}
}
